<h1>Edit wizard</h1>

<form id="edit-wizard" name="wizard">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value=<%= name %> >
  </div>

  <div class="field">
    <label for="wiseness"> wiseness:</label>
    <input type="text" name="wiseness" id="wiseness" value=<%= wiseness %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Wizard" />
  </div>

</form>

<a href="#/index">Back</a>