<div id="wizards"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Wizards.Routers.WizardsRouter({wizards: <%= @wizards.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>

<script type="text/javascript" src="<%= FAYE_SERVER %>/faye.js"></script>
